body{
	height: 100%;
	background: url("images/background.jpg") no-repeat center center;
	background-size: cover;
}

#outdoor{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 42px;
	margin-bottom: 0px;
	color: #e78369;
	margin-top: 18px;
	margin-left: 50px;
	letter-spacing: -1px; 
}

#boozin{
	width: 38px;
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 32px;
	text-transform: uppercase;
	font-weight: 800;
	margin-top: -27px;
	color: #f49f71;
	letter-spacing: 100%;
	margin-left: 50px;
	letter-spacing: 3px;
}

#content {
	width: 350px;
	height: 330px;
	position: absolute;
	border: 15px solid;
	border-color: #e78369;
	top: 120px;
	left: 100px;
	background-color: #f49f71;
	border-top-right-radius: 50px 50px;
	border-bottom-left-radius: 50px 50px;
}


.form-group{
	display: inline-block;
}

#zipcode-field{
	width: 100%;
}

#submit{
	float: right;
}

#tag1{
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
	margin-top: 40px;
}

#tag2{
	font-family: 'Alegreya Sans SC', sans-serif;
	font-size: 18px;
}

.img-responsive{
	margin-top: 10px;
}

/*
#map-container{
	position: relative;
	border: 15px solid;
	top:14px;
	width: 450px;
	margin-left: 50%;
	border-color: #e78369;
	background-color: #f49f71;
	border-top-right-radius: 50px 50px;
	border-bottom-left-radius: 50px 50px
}
*/
#map {
  float: right;
  margin-right: 130px;
  height: 410px; 
  width: 500px;
  background-color: #f49f71;
 	border-top-right-radius: 50px 50px;
	border-bottom-left-radius: 50px 50px;
	border: 15px solid;
	border-color: #e78369;
	top:10px;
}

#error-container{
	position: relative;
	border: 15px solid;
	top:14px;
	width: 450px;
	margin-left: 50%;
	border-color: #f49f71;
	background-color: #e78369;
	border-bottom-right-radius: 50px 50px;
	border-top-left-radius: 50px 50px
}

#cold-message{
	font-family: 'Alegreya Sans SC', sans-serif;
	color: white;
	font-size: 35px;
	text-align: center;
	font-weight: bold;
}

#cold-message2{
	font-family: 'Raleway', sans-serif;
	color: white;
	font-size: 24px;
	text-align: center;
	line-height: 5px;
	padding-bottom: 3px;
}